<!DOCTYPE html>
<html lang="en">
<head>

    <!---3er paso agregar datos de viewport --->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!---3er paso fin agregar datos de viewport --->

    <title>Attention Control</title>

     <!---2do paso agregar el bootstrap --->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!---2do paso fin agregar el bootstrap --->

</head>
<body>
        <!---4to paso agregar el  div contenedor--->
        <div class="container-fluid">
            <div class="row">
                 <!---5to paso agregar el  div para centrar--->
                <div class="col-sm-2">  </div>
                <!---5to paso fin agregar el  div para centrar--->
                   <!---6to paso agregar el  div para la tabla--->
                    <div class="col-sm-8">
                        <!---7mo paso agregar el boton de agregar registro--->
                        <h2>
                            <div class="float-right">
                                <button
                                        class="btn btn-primary mr-2"
                                        data-toggle="modal"
                                        data-target="#myModal"
                                        data-placement="top"
                                        title="Crear Nuevo Registro">
                                    Agregar Control Atención
                                </button>

                                <a href="{{ url_for('attention_ctrl_bp.export_excel')}}" class ="btn btn-success">
                                    Exportar Excel
                                </a>

                                <button
                                    class="btn btn-primary mr-2"
                                        data-toggle="modal"
                                        data-target="#myModalFind"
                                        data-placement="top"
                                        title="Busqueda por Fecha">
                                    Busqueda

                                </button>

                            </div>
                        </h2>
                        <!---Formulario Modal para la busqueda  ---->
                        <div id="myModalFind" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title text-primary text-center" >Busqueda </h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                       </button>
                                   </div>
                                     <div class="modal-body">
                                         <form action="{{ url_for('attention_ctrl_bp.Index') }}" method="POST">
                                             <!---Campo fecha desde-->
                                             <div class="form-group">
                                                 <label for="busqueda_desde">Fecha Desde</label>
                                                 <input name="fecha_desde" type="date" class="form-control" id="busqueda_desde" required>
                                             </div>
                                             <!---Campo fecha hasta-->
                                             <div class="form-group">
                                                 <label for="busqueda_hasta">Fecha Desde</label>
                                                 <input name="fecha_hasta" type="date" class="form-control" id="busqueda_hasta" required>
                                             </div>
                                             <!---Boton para enviar datos del formulario-->
                                             <button type="submit" class="btn btn-primary">Buscar</button>

                                         </form>

                                     </div>
                                </div>
                            </div>
                        </div>
                           <!---Fin Formulario Modal para la busqueda    ---->

                        <!---8vo crearción formulario modal Insertar   ---->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                   <div class="modal-header">
                                       <h5 class="modal-title text-primary text-center" >Agregar registro Atención </h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                       </button>
                                   </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('attention_ctrl_bp.insert') }}" method="POST">
                                             <!---Campo:fECHA rEGISTRO   ---->
                                            <div class="form-group">
                                                <label for="registro_fecha">Fecha Registro</label>
                                                <input name="fecha" type="date" class="form-control" id="registro_fecha" required>

                                            </div>
                                            <!---Campo:Nombres   ---->
                                            <div class="form-group">
                                                <label for="registro_nombres">Nombres</label>
                                                <input name="nombres" type="text" class="form-control" id="registro_nombres" placeholder="Ingrese Nombres" required>
                                            </div>
                                             <!---Campo:Hora Ingreso y Hora de Salida   ---->
                                            <div class="form-inline" style="margin-bottom: 10px;">
                                                 <div class="form-group">
                                                    <label for="registro_hora_ingreso">Hora Ingreso: </label>
                                                    <input name="hora_ingreso" type="time" class="form-control" id="registro_hora_ingreso"  required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="registro_hora_salida">Hora Salida: </label>
                                                    <input name="hora_salida" type="time" class="form-control" id="registro_hora_salida"  required>
                                                </div>
                                            </div>
                                             <!---Opciones:Polo regalo y Llavero Regalo-->
                                            <div class="form-inline" style="margin-bottom: 10px;">
                                                <div class="form-group" style="margin-right: 10px;">
                                                     <div class="form-check">
                                                         <input name="polo_gift" type="checkbox" class="form-check-input" id="registro_polo_gift">
                                                         <label class="form-check-label" for="registro_polo_gift">Polo Regalo</label>
                                                     </div>
                                                </div>
                                                <div class="form-group" style="margin-right: 10px;">

                                                    <div class="form-check">
                                                        <input name="keychain_gift" type="checkbox" class="form-check-input" id="registro_keychain_gift">
                                                        <label class="form-check-label" for="registro_keychain_gift">Llavero Regalo</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!---Opciones:Catálogo Entregado o No Entregado--->
                                            <div class="form-group">
                                                <label >
                                                    <input type="radio" name="catalog_book" value="Si">Entregado
                                                </label>
                                                <label >
                                                    <input type="radio" name="catalog_book" value="No"> No Entregado
                                                </label>
                                            </div>
                                            <!---Botón:Registra--->
                                            <button type="submit" class="btn btn-primary md-2">Registrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                         <table class="table table-bordered table-striped table-hover">
                             <thead class="thead-dark">
                                <tr >
                                    <th>ID </th>
                                     <th>Fecha </th>
                                     <th>Nombres </th>
                                     <th>Hora Ingreso </th>
                                     <th>Hora Salida </th>
                                     <th>Polo </th>
                                     <th>Llavero </th>
                                     <th>Catálogo </th>
                                      <th style="display :none;">Hora Ingreso bd</th>
                                     <th style="display :none;">Hora Salida bd</th>
                                    <th>Acción </th>
                                    <th>Eliminar </th>
                                    <th>Anular </th>
                                </tr>
                            </thead>
                            {% for row in attentions %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.fecha.strftime('%d/%m/%Y')  }} </td>
                                    <td>{{ row.nombres }}</td>
                                    <td>{{ row.hora_ingreso}} </td>
                                    <td>{{ row.hora_salida}} </td>
                                     <td>
                                            {% if row.polo_gift == 1 %}
                                                <input type="checkbox" checked disabled>
                                            {% else %}
                                                <input type="checkbox" disabled>
                                            {% endif %}
                                    </td>
                                     <td>
                                            {% if row.keychain_gift == 1 %}
                                                <input type="checkbox" checked disabled>
                                            {% else %}
                                                <input type="checkbox" disabled>
                                            {% endif %}
                                    </td>
                                    <td>{{ row.catalog_book }} </td>
                                    <td style="display :none;">{{ row.hora_ingreso_bd}} </td>
                                    <td style="display :none;">{{ row.hora_salida_bd}} </td>
                                    <td>
                                        <a href="/update/{{ row.id }}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{ row.id }}" type="button" tooltip="Actualizar Registro">
                                            <i class="bi bi-eye"></i>
                                            Editar
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/delete/{{ row.id }}" onclick="return confirm('Seguro que desea eliminar el registro?')" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                    <td>
                                        <a href="/cancel/{{ row.id }}" onclick="return confirm('Seguro que desea Anular el registro?')" class="btn btn-danger btn-sm">Anular</a>
                                    </td>
                                </tr>
                             <!-- 9no paso Formulario Modal Edicion -->
                                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title text-primary text-center" >Actualizar registro Atención </h5>
                                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                           </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('attention_ctrl_bp.update') }}" method="POST">
                                                    <input name="id" type="hidden" value="{{ row.id }}">
                                                     <!---Campo:fECHA rEGISTRO   ---->
                                                    <div class="form-group">
                                                        <label for="actualizar_fecha">Fecha Registro</label>
                                                        <input value="{{ row.fecha.strftime('%Y-%m-%d')  }}" name="fecha" type="date" class="form-control" id="actualizar_fecha" required>
                                                    </div>
                                                    <!---Campo:Nombres   ---->
                                                    <div class="form-group">
                                                        <label for="actualizar_nombres">Nombres</label>
                                                        <input value="{{ row.nombres }}" name="nombres" type="text" class="form-control" id="actualizar_nombres" placeholder="Ingrese Nombres" required>
                                                    </div>
                                                     <!---Campo:Hora Ingreso y Hora de Salida   ---->
                                                    <div class="form-inline" style="margin-bottom: 10px;">
                                                         <div class="form-group">
                                                            <label for="actualizar_hora_ingreso">Hora Ingreso:  </label>
                                                            <input value="{{row.hora_ingreso_bd}}" name="hora_ingreso" type="time" class="form-control" id="actualizar_hora_ingreso"  required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="actualizar_hora_salida">Hora Salida: </label>
                                                            <input value="{{row.hora_salida_bd }}" name="hora_salida" type="time" class="form-control" id="actualizar_hora_salida"  required>
                                                        </div>
                                                    </div>
                                                     <!---Opciones:Polo regalo y Llavero Regalo-->
                                                    <div class="form-inline" style="margin-bottom: 10px;">
                                                        <div class="form-group" style="margin-right: 10px;">
                                                             <div class="form-check">
                                                                 <input name="polo_gift" type="checkbox" class="form-check-input" {% if row.polo_gift %}checked {% endif %} id="actualizar_polo_gift">
                                                                 <label class="form-check-label" for="actualizar_polo_gift">Polo Regalo</label>
                                                             </div>
                                                        </div>
                                                        <div class="form-group" style="margin-right: 10px;">

                                                            <div class="form-check">
                                                                <input name="keychain_gift" type="checkbox" class="form-check-input"  {% if row.keychain_gift %}checked {% endif %} id="actualizar_keychain_gift">
                                                                <label class="form-check-label" for="actualizar_keychain_gift">Llavero Regalo</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!---Opciones:Catálogo Entregado o No Entregado--->
                                                    <div class="form-group">
                                                        <label >
                                                            <input type="radio" name="catalog_book" value="Si" {% if row.catalog_book =='Si' %} checked {% endif %}>Entregado
                                                        </label>
                                                        <label >
                                                            <input type="radio" name="catalog_book" value="No" {% if row.catalog_book =='No' %} checked {% endif %}> No Entregado
                                                        </label>
                                                    </div>
                                                    <!---Botón:Registra--->
                                                    <button type="submit" class="btn btn-primary md-2">Actualizar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                              <!-- 9no paso Formulario Modal Edicion -->

                            {% endfor %}

                        </table>
                         {{ pagination.links }}
                   </div>
            </div>
        </div>
        <!---Enlaces copiar de github de este proyecto   ---->
       <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>